
* {
    box-sizing: border-box; /*выбираем способ расчета с учетом рамки*/
}
a, button{
    transition: all .3s ease-in-out;
}

.container {
    display: flex;
    flex-direction:row;
	justify-content: center;
	align-items: center;/*выравнивание вдоль поперечной оси*/
	padding: 50px 50px;
	background-color: #fdde7e;
	min-height: 700px;
}

.container div {
	margin: 34px;
	
	background-color:#ffffff;
}
.cup__gold{
	width: 360px;
height: 500px;
}
.cup__silver{
width: 360px;
height: 440px;
}
.cup__bronze{
	width: 360px;
	height: 440px;
}
.item1 {}

.item2 {}

.item3 {}
